{# templates/cookies.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}

{% block body %}
    <h1>Success</h1>
    <p>Your sale has been tracked successfully.</p>
    <p><a href="{{ path('app_dashboard') }}">Back to Dashboard</a></p>
{% endblock %}
